{% import "macros.html" as m %}
{% for sec in tabs %}
<div class="tab-panel {{ 'active' if loop.first else '' }}" id="tab-{{ loop.index }}">
  <h2>{{ sec.title | default('Panel') }}</h2>
  {% if sec.text %}
  <div class="text-block">
    {{ sec.text }}
  </div>
  {% endif %}
  {% if sec.type == 'table' and sec.data %}
  {{ m.data_table(sec.data[0].keys() | list, sec.data | map('values') | list) }}
  {% endif %}
  {% if sec.type == 'chart' and sec.chart_data %}
  {{ m.chart_canvas('chart-' + loop.index|string + '-' + loop.index|string) }}
  <script>
    var chartData{{ loop.index }}{{ loop.index }} = {{ sec.chart_data | tojson }};
  </script>
  {% endif %}
  {% if sec.type == 'mermaid' %}
  {{ m.mermaid_diagram(sec.mermaid_src | default(sec.data | default(''))) }}
  {% endif %}
  {% if sec.type == 'code' %}
  {{ m.code_block(sec.code | default(''), sec.lang | default('python')) }}
  {% endif %}
  {% if sec.type == 'bug' %}
  {{ m.bug_card(sec.severity | default('minor'), sec.location | default(''), sec.title, sec.description, sec.get('fix')) }}
  {% endif %}
</div>
{% endfor %}
