{% import "macros.html" as m %}
{% for k in kpis %}
{{ m.kpi_card(k.label, k.value, k.get('delta')) }}
{% endfor %}

{% for sec in sections %}
<div class="section">
  <h2>{{ sec.title | default('Section') }}</h2>
  {% if sec.text %}
  <div class="text-block">
    {{ sec.text }}
  </div>
  {% endif %}
  {% if sec.type == 'table' and sec.data %}
  {{ m.data_table(sec.data[0].keys() | list, sec.data | map('values') | list) }}
  {% endif %}
  {% if sec.type == 'chart' and sec.chart_data %}
  {{ m.chart_canvas('chart-' + loop.index|string) }}
  <script>
    var chartData{{ loop.index }} = {{ sec.chart_data | tojson }};
  </script>
  {% endif %}
  {% if sec.type == 'mermaid' %}
  {{ m.mermaid_diagram(sec.mermaid_src | default(sec.data | default(''))) }}
  {% endif %}
  {% if sec.type == 'code' %}
  {{ m.code_block(sec.code | default(''), sec.lang | default('python')) }}
  {% endif %}
</div>
{% endfor %}
